// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "managerEnabled": "true",
  "beaconEnabled": "true",
  "showTexture": "true",
  "showStaticBeam": "false",
  "showRotatingBeam": "false",
  "showName": "true",
  "showDistance": "true",
  "autoHideLabel": "true",
  "showDeviationLabel": "false",
  "disableStrikeThrough": "false",
  "boldLabel": "false",
  "fontScale": "2.0",
  "textureSmall": "true",
  "maxDistance": "164",
  "minDistance": "64",
  "createDeathpoints": "true",
  "autoRemoveDeathpoints": "true",
  "autoRemoveDeathpointDistance": "2",
  "autoRemoveTempWaypoints": "2",
  "showDeathpointlabel": "true",
  "fullscreenDoubleClickToCreate": "true",
  "teleportCommand": "/tp {name} {x} {y} {z}",
  "dateFormat": "MM-dd-yyyy",
  "timeFormat": "HH:mm:ss",
  "managerDimensionFocus": "false",
  "configVersion": "5.8.0"
}